.post-excerpt {
  color: grey;
  font-style: italic;
}

.post-cover {
  border-radius: 8px;
  margin: 40px -50px;
  width: 860px;
  max-width: 860px;
  overflow: hidden;

  img {
    margin: 0 auto;
  }

  @media (max-width: 900px) {
    & {
      margin: 20px 0;
      width: 100%;
    }
  }

  figcaption {
    font-size: 14px;
    margin-top: 5px;
    opacity: 0.8;
    text-align: center;
  }
}

.post-info {
  margin-top: 10px;
  font-size: 0.8rem;
  line-height: normal;
  opacity: 0.6;
  p {
    margin: 0.8em 0;
  }

  a:hover {
    border-bottom: 1px solid white;
  }

  svg {
    margin-right: 0.8em;
  }

  span {
    margin-right: 0.5em;
    &.tag {
      &::before {
        content: "#";
      }
    }
  }

  .feather {
    display: inline-block;
    vertical-align: -0.125em;
    width: 1em;
    height: 1em;
  }
}
